#div-family {
  display: flex;
  flex-direction: column;
}

#div-label-checkbox {
  display: flex;
  flex-direction: column;
}

#div-checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
}

.checkbox {
  width: 30px;
}

* {
  margin: 0;
}

:root {
  --verde-trybe: rgb(50, 167, 145);
}

body {
  color: black;
}

.header , header {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--verde-trybe);
}

main {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px;
}

#trybewarts-login {
  display: flex;
}

#main-form {
  width: 675px;
  font-size: 20px;
  flex-flow: column;
  text-align: center;
  justify-content: center;
}

#main-form h2 {
  font-size: 30px;
  margin-bottom: 200px;
  width: auto;
  color: rgb(114, 110, 117);
}

#main-form form {
  width: auto;
}

.trybewarts-logo {
  display: flex;
}

#trybewart-login {
  display: flex;
  width: 675px;
}

#trybewarts-header-title {
  color: white;
  font-size: 40px;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

#login-button {
  background-color: rgb(149, 47, 149);
  color: white;
}
