#div-family {
  display: flex;
  flex-direction: column;
}

#div-label-checkbox {
  display: flex;
  flex-direction: column;
}

#div-checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 675px;
}

.checkbox {
  width: 30px;
}

* {
  margin: 3px;
}

:root {
  --verde-trybe: rgb(50, 167, 145);
}

body {
  color: black;
}

.header , header {
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--verde-trybe);
}

main {
  padding-top: 200px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px;
}

footer {
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 50px;
  background-color: rgb(190, 190, 190);
  color: rgb(116, 116, 116);
  text-align: center;
}

form {
  display: flex;
}

#trybewarts-login {
  display: flex;
}

#main-form {
  padding-top: 400px;
  padding-bottom: 150px;
  width: 675px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

#main-form h2 {
  font-size: 30px;
  margin-bottom: 50px;
  width: auto;
  color: rgb(114, 110, 117);
}

#main-form form {
  width: auto;
  display: flex;
}

.trybewarts-logo {
  display: flex;
}

#trybewart-login {
  display: flex;
  width: 675px;
}

#trybewarts-header-title {
  color: white;
  font-size: 40px;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
  display: flex;
}

#login-button {
  background-color: rgb(149, 47, 149);
  color: white;
}

#block4 {
  display: flex;
  flex-direction: column;
}

#submit-btn {
  background-color: var(--verde-trybe);
  color: white;
  width: 100px;
  display: block;
  margin-left: auto;
}

#house , #input-email , #input-lastname , #input-name {
  width: 200px;
  flex: 1;
}
