* {
  margin: 0;
}

:root {
  --verde-trybe: rgb(50, 167, 145);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--verde-trybe);
}

.trybewarts-logo {
  display: flex;
  size: 10px;
}

#trybewarts-header-title {
  color: white;
  font-size: 40px;
}
